<div class="between">
  <p>商品登録画面</p>
  <button id="close" mat-button (click)="onClose()">✖</button>
</div>

<div *ngIf="loading; else elseContent">
  <mat-progress-spinner class="spinner" mode="indeterminate"></mat-progress-spinner>
</div>
<ng-template #elseContent>

  <table border="1">
    <tr>
      <td>商品名</td>
      <td>
        <input id="text" name="text" type="text" [(ngModel)]="postInputData.productName" (change)="onInputCheck()"
          placeholder="商品名" />
      </td>
    </tr>
    <tr>
      <td>カテゴリー</td>
      <td>
        <select class="displayList" [(ngModel)]="selectedCategory" (change)="onCategory()">
          <option *ngFor="let item of selectCategory" [value]="item.value" [disabled]="item.disabled"
            [selected]="item.value === selectedCategory">{{item.label}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>個数</td>
      <td>
        <select class="displayList" [(ngModel)]="selectedQuantity" (change)="onInputCheck()">
          <option *ngFor="let item of selectQuantity" [value]="item.value" [disabled]="item.disabled"
            [selected]="item.value === selectedQuantity">{{item.label}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>説明</td>
      <td>
        <input id="text" name="text" type="text" [(ngModel)]="postInputData.productExplanation" (change)="onInputCheck()"
          placeholder="説明" />
      </td>
    </tr>
  </table>

  <app-upload
    (upload)="onUpload($event)"
    (uploadUrl)="onDataPost($event)"
  ></app-upload>

  <input type="submit" class="submit-button" value="確定" (click)="getResult()" [disabled]="invalid" />

</ng-template>
