<p>商品一覧</p>
<div *ngIf="loading; else elseContent">
  <mat-progress-spinner class="spinner" mode="indeterminate"></mat-progress-spinner>
</div>
<ng-template #elseContent>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <p>商品カテゴリー</p>
      </div>
        <div class="col-2">
        <select class="displayList" [(ngModel)]="selected" (change)="onDisplayList()">
          <option *ngFor="let item of selectCategory" [value]="item.value" [disabled]="item.disabled"
            [selected]="item.value === selected">{{item.label}}</option>
        </select>
      </div>
      <div class="col-2">
        <div *ngIf="!isLogin">
          <input type="button" class="btn-border" on-click="onProductPost()" value="商品を登録">
        </div>
      </div>
    </div>
  </div>

  <table class="table">
    <tr>
    <th>商品名</th><th>投稿者</th><th>画像</th><th>詳細</th>
     </tr>
     <tr *ngFor="let item of dispList">
       <td>{{item.productName}}</td>
       <td>{{item.productContributor}}</td>
       <td>{{item.productImageUrl}}</td>
       <td><input type="button" on-click="onProductDetail(item.productId)" value="詳細はこちら"></td>
   </tr>
   </table>

  <ng-template #elseContent>
    <div class="margin">表示できる商品情報はありません。</div>
  </ng-template>

</ng-template>
