<p>商品詳細</p>

<div class="container">
  <div class="row">
    <ul>
      <li>商品名：{{productDetial.productName}}</li>
      <li>商品数：{{productDetial.productQuantity}}</li>
      <li>商品説明：{{productDetial.productExplanation}}</li>
      <li>商品登録者：{{productDetial.productContributor}}</li>
    </ul>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <img [src]="photoSrc" alt="写真URL"  width="150" height="150">
    </div>
  </div>
  <div class="row justify-content-md-center">
      <button mat-button [mat-dialog-close]="data">閉じる</button>
  </div>
</div>
